<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FPG_Attachment_Uploader.Properties.Intacct" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FPG_Attachment_Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FPG_Attachment_Uploader.Properties.Intacct>
            <setting name="SenderId" serializeAs="String">
                <value>FPG</value>
            </setting>
            <setting name="SenderPassword" serializeAs="String">
                <value>Web684@$link</value>
            </setting>
            <setting name="CompanyId" serializeAs="String">
                <value>FPG</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>xml_gateway</value>
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value>Synoverge@123</value>
            </setting>
            <setting name="LocationId" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Error</value>
            </setting>
        </FPG_Attachment_Uploader.Properties.Intacct>
        <FPG_Attachment_Uploader.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>wsadmin@frontlinepg.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>W@lcome@681</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>27c74a39-a3e7-4441-b905-667c714366bd</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>dbe03953-41ef-4f61-ade4-a679a86bbc7f</value>
            </setting>
            <setting name="ErrorEmailAddress" serializeAs="String">
                <value>james@strombeck.com</value>
            </setting>
        </FPG_Attachment_Uploader.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>